{{define "content"}}

<div class="container">
    <h1>Kea DHCP Reservation Manager</h1>

    <table border="1" cellpadding="6">
        <tr>
            <th>MAC</th>
            <th>Hostname</th>
            <th>IP</th>
        </tr>

        {{range .Hosts}}

        <tr>
            <td>{{.Hostname}}</td>

            <td>{{.HWAddress}}</td>

            <td>
                <button class="btn btn-danger btn-sm">Удалить</button>
            </td>
        </tr>

        {{end}}

        <tr>
            <td>{{.MAC}}</td>
            <td>{{.Hostname}}</td>
            <td>{{.IP}}</td>
        </tr>

        {{end}}
    </table>
</div>

{{end}}
